stages:
  - build-frontend
  - build-backend

services:
  - name: mysql:latest
    alias: mysql
    command: ["--default-authentication-plugin=mysql_native_password"]
    variables:
      MYSQL_DATABASE: employee_management_db
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}

variables:
  DB_URL_EM: ${DB_URL_EM}
  DB_USERNAME: ${DB_USERNAME}
  DB_PASSWORD: ${DB_PASSWORD}
  EXPIRATION: ${EXPIRATION}
  SECRET_KEY: ${SECRET_KEY}

build-frontend:
  stage: build-frontend
  image: node:20.17
  script:
    - echo "Starting frontend build"
    - cd frontend
    - echo "Installing dependencies"
    - npm install
    - echo "Building frontend"
    - npm run build
  artifacts:
    paths:
      - frontend/build/
    expire_in: 1 week

build-backend:
  stage: build-backend
  image: maven:3.9.4-openjdk-17
  before_script:
    - echo "Waiting for MySQL to be ready..."
    - until mysqladmin ping -h mysql --silent; do echo "Waiting for MySQL..."; sleep 2; done
    - echo "MySQL is ready. Checking database connection..."
    - mysql -hmysql -uroot -p${DB_PASSWORD} -e "SHOW DATABASES;"
  script:
    - echo "Starting backend build"
    - cd backend
    - echo "Building backend application"
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - backend/target/*.jar
    expire_in: 1 week
