/* App.css */
.app {
    display: flex;
    height: 100vh; /* Full height */
}

.sidebar {
    width: 200px; /* Sidebar width */
    background-color: #2f5742;
    color: white;
    padding: 10px;
    position: fixed; /* Sidebar stays fixed on the side */
    height: 100vh; /* Full height */
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.hidden {
    transform: translateX(-100%); /* Hide sidebar on smaller screens */
}

.sidebar.show {
    transform: translateX(0); /* Show sidebar when toggled */
}

.menu-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    background-color: #2f5742;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.close-button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 20px; /* Optional padding */
    margin-left: 200px; /* Matches sidebar width */
    transition: margin-left 0.3s ease;
    overflow-y: auto; /* Optional: Add vertical scrolling if content overflows */
}

.content-personal {
    margin-left: 200px; /* Matches sidebar width */
    width: 1320px;
}

.overflow-hidden-horizontal {
    overflow-x: hidden; /* Ẩn scrollbar ngang */
}

.overflow-hidden-vertical {
    overflow-y: scroll; /* Vẫn cho phép cuộn dọc */
    scrollbar-width: none; /* Ẩn scrollbar dọc trên Firefox */
    -ms-overflow-style: none; /* Ẩn scrollbar trên IE và Edge */
}

.overflow-hidden-vertical::-webkit-scrollbar {
    display: none; /* Ẩn scrollbar dọc trên Chrome, Safari và Edge */
}

.content.expanded {
    margin-left: 0; /* No margin when sidebar is hidden */
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%); /* Hide sidebar on smaller screens */
    }
    .sidebar.show {
        transform: translateX(0); /* Show sidebar when toggled */
    }
    .content {
        margin-left: 0; /* No margin when sidebar is hidden */
    }
}
